h2    {
    font-style:italic;  }
h3    {   
    color:cadetblue; 
    background-color: aliceblue; 
    width: fit-content;  
    font-weight: lighter;  
    padding-left: 2%;  }
p em  {
    color:cadetblue;  }
li, p {  
    color:darkslategrey;
    font-size: 0.90em;  }
body  {  
    background-color: aliceblue;  
    font-size: 0.95em;  
    font-family: Cambria, Georgia, "Book Antiqua", serif;  
    margin: 0 8%;  }

p.text {
    font-size: 0.90em;  
    padding-left: 2%;  
    padding-right: 2%;}
p.heading em {
    color:black;  }
p.quote {
    color: aliceblue;
    background-clip: border-box;
    background-color: darkslategrey;
    font-size: 1.5em;
    padding-left: 2%;  
    padding-right: 2%;  }

div {
    padding-left: 2%;  
    padding-right: 2%;  }

img#goats {
    height: 25%;
    border: 20px;
    border-color: darkslategrey;
    padding-top: 3%;
    padding-bottom: 3%;   
    margin: 10% 10%;}
    
img#swhs {
    height: 25%;  }

a:link {  
    color: darkseagreen;  }
a:visited {
    color: yellowgreen;  }
a:hover {
    color: tomato;  }
a:active {
    color: tomato;  }

ul li {  
    margin-top: 0.7em;  }

div.flexible {  
    display:flex;  
    margin-top: 1em;
    background-color: darkslategrey;  }
div.content {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.90em;  
    flex-direction: row;
    color: aliceblue;  }