h2    {
    font-style:italic;  }
h3    {   
    color:cadetblue; 
    background-color: aliceblue; 
    width: fit-content;  
    font-weight: lighter;  
    padding-left: 2%;  }
p em  {
    color:cadetblue;  }
li, p {  
    color:darkslategrey;
    font-size: 0.90em;  }
body  {  
    background-color: aliceblue;  
    font-size: 0.95em;  
    font-family: Cambria, Georgia, "Book Antiqua", serif;  
    margin: 0 9.5%;  }

p.text {
    font-size: 0.90em;  
    padding-left: 2%;  
    padding-right: 2%;}
p.heading em {
    color:black;  }

div {
    padding-left: 2%;  
    padding-right: 2%;  }

img#goats {
    float: right;
    height: 30%;  }
img#swhs {
    height: 30%;  }

a:link {  
    color: steelblue;  }
a:visited {
    color: slateblue;  }
a:hover {
    color: tomato;  }
a:active {
    color: tomato;  }

ul li {  
    margin-top: 0.7em;  }